In [1]:
from get_all_tickers import get_tickers as gt

In [2]:
list_of_tickers = gt.get_tickers()

In [10]:
import yfinance as yf

# Get the data for the stock AAPL
data = yf.download('AAPL', '2016-01-01','2019-08-01').round(2)

[*********************100%***********************]  1 of 1 completed

In [11]:
data

              Open    High     Low   Close  Adj Close    Volume
Date
2016-01-04  102.61  105.37  102.00  105.35      97.95  67649400
2016-01-05  105.75  105.85  102.41  102.71      95.49  55791000
2016-01-06  100.56  102.37   99.87  100.70      93.63  68457400
2016-01-07   98.68  100.13   96.43   96.45      89.67  81094400
2016-01-08   98.55   99.11   96.76   96.96      90.15  70798000
...            ...     ...     ...     ...        ...       ...
2019-07-25  208.89  209.24  206.73  207.02     204.58  13909600
2019-07-26  207.48  209.73  207.14  207.74     205.29  17618900
2019-07-29  208.46  210.64  208.44  209.68     207.21  21673400
2019-07-30  208.76  210.16  207.31  208.78     206.32  33935700
2019-07-31  216.42  221.37  211.30  213.04     210.53  69281400

[900 rows x 6 columns]